/* テンプレート用スタイル */
#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
}

#header {
    margin-bottom: 20px;
    min-height: 100px;
}

#header p {
    margin-bottom: 0px;
}

#app-icon {
    float: left;
    margin-right: 20px;
}

#app-icon img {
    height: 100px;
    width: 100px;
}

#page-title h1 {
    font-weight: bold;
    margin-top: 0px;
}

#content {
    height: 100%;
    width: 100%;
}

.glyphicon.icon {
    margin-right: 5px;
}

.display-none {
    display: none !important;
}

/* フッター用スタイル */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6778A0;
    background-color: #ffffff;
    z-index: 1100;
}

#footer-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#footer-inner .pull-right {
    margin-left: 20px;
}

/* キャンセルボタン用スタイル（黒ボタン） */
.btn-cancel {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-cancel:hover {
    color: #ffffff;
    background-color: #5a6268;
    border-color: #545b62;
}

/* NEカラーボタン用スタイル */
.btn-ne {
    color: #ffffff;
    background-color: #0099ff;
    border-color: #0099ff;
}

.btn-ne:hover {
    color: #ffffff;
    background-color: #008ae6;
    border-color: #008ae6;
}

/* NEカラーボタン用スタイル（白抜き） */
.btn-ne-white {
    color: #0099ff;
    background-color: #ffffff;
    border-color: #0099ff;
}

.btn-ne-white:hover {
    color: #0099ff;
    background-color: #eeeeee;
    border-color: #0088ee;
}

/* 戻るボタン用スタイル（白いボタン） */
.btn-back {
    color: #000000;
    background-color: #ffffff;
    border-color: #6c757d;
}

.btn-back:hover {
    color: #000000;
    background-color: #eeeeee;
    border-color: #545b62;
}


/* 一覧画面へ移動するボタン用スタイル（グレーのボタン） */
.btn-go-to-list {
    color: #000000;
    background-color: #f2f2f2;
    border-color: #cbcacb;
}

.btn-go-to-list:hover {
    color: #000000;
    background-color: #e1e1e1;
    border-color: #bab9ba;
}

/* モーダルをセンターに表示 */
.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    pointer-events: none;
}

.modal-content {
    pointer-events: all
}

/* モーダルを表示すると全体が左にずれる現象の対応 */
body.modal-open {
    margin-right: 0px !important;
    overflow: auto;
}

.modal-body .alert {
    display: none;
}

.font_bold {
    font-weight: bold;
}

/* モーダルヘッダーのボーダーを消す */
.no-border-modal-header {
    border-bottom: 0px;
}

.modal-body {
    padding-top: 0px;
    padding-bottom: 0px;
    word-break: break-all;
}

/* モーダルフッターのボーダーを消す */
.no-border-modal-footer {
    border-top: 0px;
    text-align: center;
}

#alert-modal .modal-body-description {
    margin-top: 20px;
}

/* モーダルをフッターよりも上のレイヤーで表示させたいのでz-indexを変更する */
.modal {
    z-index: 1120;
}

.modal-backdrop {
    z-index: 1110;
}

/* サブミット時など他のボタンをクリックさせたく無い場合画面全体にviewをかぶせる */
#display-block-view {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 99999;
}

.setting-detail-icon {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 5px;
}

.black-area {
    background-color: #555555;
}