#
# 受注伝票一括更新アプリ crontabマスタ
# ==============================
#
# このファイルがマスタとなります。
# crontabをwebサーバに設置する際には、このマスタデータからコピーして使用して下さい。

# デフォルトでcrontabにあったもの
# ----------------------------------------------
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
HOME=/

# 環境変数ファイルがある場所(フルパス)
# PHPのプロセスを実行する前に、sourceコマンドで環境変数ファイルを読み込ことによって、実行時に環境変数を設定する。
# 「${PATH_TO_ENVFILE}」の箇所を実際の動作する環境において置き換えて下さい。
# ----------------------------------------------
APP_ENV_FILE_PATH=${PATH_TO_ENVFILE}

# oilがある場所(フルパス)
# ----------------------------------------------
OIL_DIR=/usr/local/share/fuelphp/ext-buo

# commands
# 実行ユーザーの指定箇所「${EXEC_USER}」の箇所を実際の動作する環境において置き換えて下さい。
# ----------------------------------------------
# PFのアプリ解約をチェックしアプリ内解約処理を行う
15 0 1 * * ${EXEC_USER} . $APP_ENV_FILE_PATH;php $OIL_DIR/oil r company:disable_canceled_company
